@import 'rc-slider/assets/index.css';

@import 'tailwindcss';

@config '../tailwind.config.js';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #232e3d;
    --custom-color-100: #b5d5f5;
    --custom-color-200: #94c4f5;
    --custom-color-300: #6babeb;
    --custom-color-400: #4f95dd;
    --custom-color-500: #3288ce;
    --custom-color-600: #0468b1;
    --custom-color-700: #1f5a95;
    --custom-foreground: #232e3d;
    --ring: #b5d5f5;
    --blue-100: #b5d5f5;
    --blue-200: #94c4f5;
    --blue-300: #6babeb;
    --blue-400: #4f95dd;
    --blue-500: #3288ce;
    --blue-600: #0468b1;
    --blue-700: #1f5a95;
    --white: #ffffff;
    --gray-100: #fafafa;
    --gray-200: #f7f7f7;
    --gray-300: #edeff0;
    --gray-400: #d4d6d8;
    --gray-500: #a9b1b7;
    --gray-550: #879099;
    --gray-600: #55606e;
    --gray-650: #3b4859;
    --gray-700: #232e3d;
    --black: #000000;
    --light-yellow: #ffeb00;
    --yellow: #ffeb00;
    --dark-yellow: #fbc412;
    --light-red: #ffbcb7;
    --red: #ee402d;
    --dark-red: #d12800;
    --light-green: #b8ecb6;
    --green: #6de354;
    --dark-green: #59ba47;
    --light-azure: #a2daf3;
    --azure: #60d4f2;
    --dark-azure: #00c1ff;
    --sdg-1: #e5243b;
    --sdg-2: #dda63a;
    --sdg-3: #4c9f38;
    --sdg-4: #c5192d;
    --sdg-5: #ff3a21;
    --sdg-6: #26bde2;
    --sdg-7: #fcc30b;
    --sdg-8: #a21942;
    --sdg-9: #fd6925;
    --sdg-10: #dd1367;
    --sdg-11: #fd9d24;
    --sdg-12: #bf8b2e;
    --sdg-13: #3f7e44;
    --sdg-14: #0a97d9;
    --sdg-15: #56c02b;
    --sdg-16: #00689d;
    --sdg-17: #19486a;
    --font-sans: ProximaNova, sans-serif;
    --font-heading: SohneBreit, ProximaNova, sans-serif;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--gray-200, currentcolor);
  }

  body {
    margin: 0;
    line-height: inherit;
    color: var(--black);
  }

  .dark {
    color: var(--white);
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }
}

[hidden]:where(:not([hidden='until-found'])) {
  display: none;
}

.undp-button.button-arrow::after {
  transition: 0.2s ease;
  content: '';
  height: 20px;
  margin-left: 0.75rem;
  width: 13px;
}

.undp-button.button-arrow:not(.disabled):hover::after {
  transform: translate(70%, 0);
}

.button-arrow.white-arrow::after {
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-right-white.svg)
    no-repeat left center;
}

.button-arrow.black-arrow::after {
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-right-black.svg)
    no-repeat left center;
}

.button-arrow.red-arrow::after {
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-right.svg)
    no-repeat left center;
}

[dir='rtl'] .button-arrow.white-arrow::after {
  margin-left: 0;
  margin-right: 0.75rem;
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-left-white.svg)
    no-repeat left center;
}

[dir='rtl'] .button-arrow.black-arrow::after {
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-right-black.svg)
    no-repeat left center;
  transform: scaleX(-1);
  margin-left: 0;
  margin-right: 0.75rem;
}

[dir='rtl'] .button-arrow.red-arrow::after {
  background: url(https://cdn.jsdelivr.net/npm/@undp/design-system-assets@1.6.1/images/chevron-left.svg)
    no-repeat left center;
  margin-left: 0;
  margin-right: 0.75rem;
}

[dir='rtl'] .undp-button.button-arrow:not(.disabled):hover::after {
  transform: translate(-70%, 0);
}

[dir='rtl'] .undp-button.button-arrow.black-arrow:not(.disabled):hover::after {
  transform: translate(-70%, 0) scaleX(-1);
}
@keyframes lineLoop-animation-for-links {
  0% {
    background-position:
      100% 100%,
      -30px 100%;
    background-size:
      100% 2px,
      0 2px;
  }
  to {
    background-position:
      calc(100% + 30px) 100%,
      0 100%;
    background-size:
      0 2px,
      100% 2px;
  }
}
@keyframes lineLoop-animation-for-links-rtl {
  0% {
    background-position:
      calc(100% + 30px) 100%,
      0 100%;
    background-size:
      0 2px,
      100% 2px;
  }
  to {
    background-position:
      100% 100%,
      -30px 100%;
    background-size:
      100% 2px,
      0 2px;
  }
}

.undp-link {
  background-position:
    100% 100%,
    -30px 100%;
  background-repeat: no-repeat;
  background-size:
    100% 2px,
    0 1px;
}

.undp-link:hover {
  animation: lineLoop-animation-for-links 2s linear infinite;
}

[dir='rtl'] .undp-link:hover {
  animation: lineLoop-animation-for-links-rtl 2s linear infinite;
}

.undp-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.undp-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.undp-scrollbar::-webkit-scrollbar-track {
  background: var(--black);
  background-clip: padding-box;
  border: 2px solid rgba(255, 255, 255, 0);
}
.undp-scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.undp-scrollbar::-webkit-scrollbar-thumb {
  background: var(--black);
}

.dark .undp-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-100);
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

.dark .undp-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-100);
}

.undp-select-input input {
  height: auto;
}

.undp-select-input input:focus {
  box-shadow: 0 0 0;
}
