@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&family=Noto+Sans+Hebrew:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+Myanmar:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Noto+Sans+TC:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*, :before, :after {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb
}

:before, :after {
	--tw-content: ""
}


@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #232E3D;
    --custom-color-100: #B5D5F5;
    --custom-color-200: #94C4F5;
    --custom-color-300: #6BABEB;
    --custom-color-400: #4F95DD;
    --custom-color-500: #3288CE;
    --custom-color-600: #0468B1;
    --custom-color-700: #1F5A95;
    --custom-foreground: #232E3D;
    --ring: #B5D5F5;
    --blue-100: #B5D5F5;
    --blue-200: #94C4F5;
    --blue-300: #6BABEB;
    --blue-400: #4F95DD;
    --blue-500: #3288CE;
    --blue-600: #0468B1;
    --blue-700: #1F5A95;
    --white: #FFFFFF;
    --gray-100: #FAFAFA;
    --gray-200: #F7F7F7;
    --gray-300: #EDEFF0;
    --gray-400: #D4D6D8;
    --gray-500: #A9B1B7;
    --gray-550: #879099;
    --gray-600: #55606E;
    --gray-650: #3b4859;
    --gray-700: #232E3D;
    --black: #000000;
    --light-yellow: #FFEB00;
    --yellow: #FFEB00;
    --dark-yellow: #FBC412;
    --light-red: #FFBCB7;
    --red: #EE402D;
    --dark-red: #D12800;
    --light-green: #B8ECB6;
    --green: #6DE354;
    --dark-green: #59BA47;
    --light-azure: #A2DAF3;
    --azure: #60D4F2;
    --dark-azure: #00C1FF;
    --sdg-1: #E5243B;
    --sdg-2: #DDA63A;
    --sdg-3: #4C9F38;
    --sdg-4: #C5192D;
    --sdg-5: #FF3A21;
    --sdg-6: #26BDE2;
    --sdg-7: #FCC30B;
    --sdg-8: #A21942;
    --sdg-9: #FD6925;
    --sdg-10: #DD1367;
    --sdg-11: #FD9D24;
    --sdg-12: #BF8B2E;
    --sdg-13: #3F7E44;
    --sdg-14: #0A97D9;
    --sdg-15: #56C02B;
    --sdg-16: #00689D;
    --sdg-17: #19486A;
  }
}

html, :host {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ProximaNova, proxima-nova, Helvetica Neue, Roboto, sans-serif;
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent
}

body {
	margin: 0;
	line-height: inherit;
  color: var(--black);
}

.dark {
  color: var(--white);
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

a {
	color: inherit;
	text-decoration: inherit
}

small {
	font-size: 80%
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse
}

button, input, optgroup, select, textarea {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0;
	padding: 0
}

button, select {
	text-transform: none
}

button, input:where([type="button"]), input:where([type="reset"]), input:where([type="submit"]) {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none
}

:-moz-focusring {
	outline: auto
}

:-moz-ui-invalid {
	box-shadow: none
}

progress {
	vertical-align: baseline
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

fieldset {
	margin: 0;
	padding: 0
}

legend {
	padding: 0
}

ol, ul, menu {
	list-style: none;
	margin: 0;
	padding: 0
}

dialog {
	padding: 0
}

textarea {
	resize: vertical
}

input::-moz-placeholder, textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af
}

input::placeholder, textarea::placeholder {
	opacity: 1;
	color: #9ca3af
}

button, [role=button] {
	cursor: pointer
}

:disabled {
	cursor: default
}

img, svg, video, canvas, audio, iframe, embed, object {
	display: block;
	vertical-align: middle
}

img, video {
	max-width: 100%;
	height: auto
}


.en {
  @apply font-sans;
}
.ar {
  @apply font-sans-ar;
}
.he {
  @apply font-sans-he;
}
.mm {
  @apply font-sans-mm;
}
.ua {
  @apply font-sans;
}
.jp {
  @apply font-sans-jp;
}
.ch-traditional {
  @apply font-sans-ch-traditional;
}
.ch-simplified {
  @apply font-sans-ch-simplified;
}

h1 {
  @apply font-heading;   
}
.ar h1 {
  @apply font-sans-ar;
}
.he h1 {
  @apply font-sans-he;
}
.mm h1 {
  @apply font-sans-mm;
}
.jp h1 {
  @apply font-sans-jp;
}
.ch-traditional h1 {
  @apply font-sans-ch-traditional;
}
.ch-simplified h1 {
  @apply font-sans-ch-simplified;
}

[hidden]:where(:not([hidden="until-found"])) {
	display: none
}



.undp-button.button-arrow::after {
	transition: .2s ease;
	content: "";
	height: 20px;
	margin-left: 0.75rem;
	width: 13px
}

.undp-button.button-arrow:not(.disabled):hover::after {
	transform: translate(70%, 0)
}

.button-arrow.white-arrow::after {
	background: url(https://design.undp.org/static/media/chevron-right-white.c14d1d86.svg) no-repeat left center;
}

.button-arrow.black-arrow::after {
	background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
}

.button-arrow.red-arrow::after {
	background: url(https://design.undp.org/icons/chevron-right.svg) no-repeat left center;
}

[dir=rtl] .button-arrow.white-arrow::after {
  margin-left: 0;
	margin-right: 0.75rem;
	background: url(https://raw.githubusercontent.com/undp/design-system-assets/refs/heads/main/images/chevron-left-white.svg) no-repeat left center;
}

[dir=rtl] .button-arrow.black-arrow::after {
	background: url(https://design.undp.org/static/media/chevron-right-black.f618eac3.svg) no-repeat left center;
  transform: scaleX(-1);
  margin-left: 0;
	margin-right: 0.75rem;
}

[dir=rtl] .button-arrow.red-arrow::after {
	background: url(https://design.undp.org/icons/chevron-left.svg) no-repeat left center;
  margin-left: 0;
	margin-right: 0.75rem;
}

[dir=rtl] .undp-button.button-arrow:not(.disabled):hover::after {
	transform: translate(-70%, 0);
}


[dir=rtl] .undp-button.button-arrow.black-arrow:not(.disabled):hover::after {
	transform: translate(-70%, 0) scaleX(-1);
}
@keyframes lineLoop-animation-for-links {
  0% {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }
  to {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
}
@keyframes lineLoop-animation-for-links-rtl {
  0% {
    background-position: calc(100% + 30px) 100%, 0 100%;
    background-size: 0 2px, 100% 2px;
  }
  to {
    background-position: 100% 100%, -30px 100%;
    background-size: 100% 2px, 0 2px;
  }
}

.undp-link {
  background-position: 100% 100%, -30px 100%;
  background-repeat: no-repeat;
  background-size: 100% 2px, 0 1px;

}

.undp-link:hover {
  animation: lineLoop-animation-for-links 2s linear infinite;
}

[dir=rtl] .undp-link:hover {
  animation: lineLoop-animation-for-links-rtl 2s linear infinite;
}


.undp-scrollbar {
  overflow-x: auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}
.undp-scrollbar::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
.undp-scrollbar::-webkit-scrollbar-track {
  background: var(--black);
  background-clip: padding-box;
  border: 2px solid rgba(255,255,255,0);
}
.undp-scrollbar::-webkit-scrollbar-corner {
  display: none;
}
.undp-scrollbar::-webkit-scrollbar-thumb {
  background: var(--black);
}

.dark .undp-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-100);
  background-clip: padding-box;
  border: 2px solid rgba(0,0,0,0);
}

.dark .undp-scrollbar::-webkit-scrollbar-thumb {
  background: var(--gray-100);
}